[submodule "3rdpart/spdlog"]
	path = 3rdpart/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rdpart/yyjson"]
	path = 3rdpart/yyjson
	url = https://github.com/ibireme/yyjson.git
[submodule "3rdpart/libevent"]
	path = 3rdpart/libevent
	url = https://github.com/libevent/libevent.git
